extends layout

block content
  h4.mt-4.col-md-6.offset-md-3 New Item

  form.col-md-6.offset-md-3(action="/item/new", method="post")
    .form-group
      label(for="title") Title
      input.form-control(type="text", name="title", id="title", required)
    .form-group
      button.btn.btn-dark.btn-block(type="submit") Submit